service: homegrid-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    MEDICOES_TABLE_NAME: HomeGrid_Medicoes
    EVENT_BUS_NAME: HomeGridEventBus
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:Scan
          Resource: !GetAtt MedicoesTable.Arn
        - Effect: Allow
          Action:
            - events:PutEvents
          Resource: !GetAtt EventBus.Arn

package:
  patterns:
    - '!.git/**'
    - '!src/**'
    - '!*.md'
    - '!tsconfig.json'
    - '!awscliv2.zip'
    - '!aws/**'
    - '!.serverless/**'
    - 'dist/**'
    - 'node_modules/**'

plugins:
  - serverless-offline

functions:
  armazenarMedicao:
    handler: dist/modules/ingestion/interfaces/http/armazenarMedicaoHandler.handler
    events:
      - http:
          path: medicao
          method: post
          cors: true

  listarMedicoes:
    handler: dist/modules/ingestion/interfaces/http/listarMedicoesHandler.handler
    events:
      - http:
          path: medicoes
          method: get
          cors: true

resources:
  Resources:
    MedicoesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: HomeGrid_Medicoes
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: dispositivoId
            AttributeType: S
          - AttributeName: timestamp
            AttributeType: S
        KeySchema:
          - AttributeName: dispositivoId
            KeyType: HASH
          - AttributeName: timestamp
            KeyType: RANGE
    
    EventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: HomeGridEventBus
